{% if current_user.has_role('SuperUser') %}
{% extends 'superuser/superuser_templates/base_superuser_template.html' %}
{% elif current_user.has_role('Admin') %}
{% extends 'admin/admin_templates/base_admin_template.html' %}
{% else %}
{% extends 'cashier/cashier_templates/base_cashier_template.html' %}
{% endif %}

{% block head %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard <span style="font-size: 18px;">/Sales </span><span
            style="font-size: 15px;">/Product Sales</span></h1>
        <h6 class="text-gray-600" style="margin-left: 500px;">Time: <span id="time"></span></h6>
        <button class="btn btn-light btn-md active printCustomers mr-3" role="button" aria-pressed="true">
            <i class="fa fa-print"></i>
            &ensp;Print
        </button>
    </div>
    {% endblock %}

    {% block body %}
    <div class="row">
        <div class="col-3">
          <a href="/cashier/sales" class="btn btn-primary btn-md active " role="button" aria-pressed="true"><i
              class="fa fa-arrow-left"></i>&ensp;Back</a>
        </div>
        <div class="col-6" style="text-align: center;">
            <div class="row d-flex justify-content-center">
              <input id="product_sales" name="weeks" type="text" class="form-control col-6 "
                style="border-radius: 25px;" placeholder="Enter product to fetch...">
            </div>
        </div>
            <div id="time_frame_selector" class="col-3">
                <select type="text" name="time_frame" id="time_frame" class="form-control col-12" required
                    onfocus='this.size=2;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                    <option value="yesterday">Yesterday</option>
                    <option value="today" selected="selected">Today</option>
                </select>
            </div>
      </div><br>
      <div id="product_sales_table_section"></div>

   
<script src="{{ url_for('static', filename='js/sales.js') }}"></script>
<!-- Scroll to Top Button-->
{% endblock %}