{% if current_user.has_role('SuperUser') %}
{% extends 'superuser/superuser_templates/base_superuser_template.html' %}
{% elif current_user.has_role('Admin') %}
{% extends 'admin/admin_templates/base_admin_template.html' %}
{% else %}
{% extends 'cashier/cashier_templates/base_cashier_template.html' %}
{% endif %}


{% block head %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard <span style="font-size: 18px;">/Stock</span></h1>
        <h6 class="h6 mb-0 text-gray-600 " style="margin-left: 400px;">Time: <span id="time"></span></h6>
        {% if current_user.has_role('SuperUser') or current_user.has_role('Admin') %}
        <a 
            href="/admin/product-unit-settings" 
            class="btn btn-light btn-md mr-1 active" 
            role="button" 
            aria-pressed="true">
            <i class="fa fa-cogs"></i>&ensp;Settings
        </a>
        <a 
            href="/crud/download-stock-sheet" 
            class="btn btn-success btn-md mr-1 active" 
            role="button" 
            aria-pressed="true">
            <i class="fa fa-download" aria-hidden="true"></i>&ensp;Export Stock Sheet
        </a>
        {% endif %}
        <button class="btn btn-light btn-md active printStock mr-1" role="button" aria-pressed="true"><i
                class="fa fa-print"></i>&ensp;Print</button>
    </div>
    {% endblock %}

    {% block body %}
    <div class="row">
        
        {% if current_user.has_role('Cashier') %}
        <div class="col-md-2">
            <a data-toggle="modal" data-target="#exampleModalScrollable" class="btn btn-success btn-md active"
                role="button" aria-pressed="true"><i class="fa fa-plus-circle"></i>&ensp;New Stock</a>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalScrollableTitle">New Stock</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <form method="POST" id="form_add_product" enctype="multipart/form-data">
                            
                                {{ add_product_form.hidden_tag() }}
                                <div class="row">
                                    {{ add_product_form.category }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.name }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.description }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.unit }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.contains }}
                                    {{ add_product_form.subunit }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.replenish }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.supplier }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.product_image.label(style="margin-left: 60px;") }}
                                    {{ add_product_form.product_image }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.received.label(style="margin-left: 60px;") }}
                                    {{ add_product_form.received }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.expiry.label(style="margin-left: 60px;") }}
                                    {{ add_product_form.expiry }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.buying_price }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.discount }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.selling_price }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.quantity }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.restock_level }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                {{ add_product_form.submit }}
                            </form>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <a href="/cashier/stock-shelf-life" class="btn btn-info btn-md active" role="button" aria-pressed="true">Stock Shelf
                Life</a>
        </div>
        <div class="col-md-4">
            <a href="/cashier/damaged-stock" class="btn btn-secondary btn-md active offset-4" role="button" aria-pressed="true">Damaged
                Stock</a>
        </div>
        <div class="col-md-2">
            <a href="/cashier/product-reclass-categories" class="btn btn-light btn-md active" role="button" aria-pressed="true">Product Reclass</a>
        </div>
        <div class="col-md-2">
            <a href="/admin/stock-valuation" class="btn btn-warning btn-md active" role="button" aria-pressed="true">Stock
                Valuation</a>
        </div>
        {% else %}
        <div class="col-md-2">
            <a data-toggle="modal" data-target="#exampleModalScrollable" class="btn btn-success btn-md active"
                role="button" aria-pressed="true"><i class="fa fa-plus-circle"></i>&ensp;New Stock</a>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalScrollableTitle">New Stock</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <form method="POST" id="form_add_product" enctype="multipart/form-data">
                            
                                {{ add_product_form.hidden_tag() }}
                                <div class="row">
                                    {{ add_product_form.category }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.name }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.description }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.unit }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.contains }}
                                    {{ add_product_form.subunit }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.replenish }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.supplier }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.product_image.label(style="margin-left: 60px;") }}
                                    {{ add_product_form.product_image }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.received.label(style="margin-left: 60px;") }}
                                    {{ add_product_form.received }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.expiry.label(style="margin-left: 60px;") }}
                                    {{ add_product_form.expiry }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.buying_price }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.discount }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.selling_price }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.quantity }}
                                </div><br>
                                <div class="row">
                                    {{ add_product_form.restock_level }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                {{ add_product_form.submit }}
                            </form>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <a href="/cashier/stock-shelf-life" class="btn btn-info btn-md active" role="button" aria-pressed="true">Stock Shelf
                Life</a>
        </div>
        <div class="col-md-2">
            <a href="/cashier/damaged-stock" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">Damaged
                Stock</a>
        </div>
        <div class="col-md-2">
            <a href="/cashier/product-reclass-categories" class="btn btn-light btn-md active" role="button" aria-pressed="true">Product Reclass</a>
        </div>
        <div class="col-md-2">
            <a href="/admin/stock-valuation" class="btn btn-warning btn-md active" role="button" aria-pressed="true">Stock
                Valuation</a>
        </div>
        <div class="col-md-2">
            <a href="/admin/categories" class="btn btn-primary btn-md active" role="button" aria-pressed="true">Stock
                Categories</a>
        </div>
        {% endif %}
    </div><br>

    <div class="offset-2">
        <h6 class="offset-4">Total Number: {{ products_count }}</h6>
    </div>
    <table id="stockEditable" class="table table-striped table-hover paginate "
        style="display:block;overflow-y:scroll;text-align: center;">
        <thead class="thead-dark">
            <tr>
                <th scope="col" width="4%">#</th>
                <th scope="col" width="8%">Category</th>
                <th scope="col" width="13%">Stock Name</th>
                <th scope="col" width="11%">Buying Price (Ksh.)</th>
                <th scope="col" width="7%">Discount (Ksh.)</th>
                <th scope="col" width="11%">Selling Price (ksh.)</th>
                <th scope="col" width="9%">Quantity Available</th>
                <th scope="col" width="9%">Restock Level</th>
                <th scope="col" width="9%">Status</th>
                <th scope="col" width="30%"></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <th scope="row" class="uneditable" id="id{{ loop.index }}">{{ product }}</th>
                <td class="editable" id="category{{ loop.index }}">{{ products[product]['category'] }}</td>
                <td class="editable" id="name{{ loop.index }}">{{ products[product]['product_name'] }}</td>
                <td class="editable" id="bprice{{ loop.index }}">{{ products[product]['buying_price'] }}</td>
                <td class="editable" id="discount{{ loop.index }}">{{ products[product]['discount'] }}</td>
                <td class="editable" id="sprice{{ loop.index }}">{{ products[product]['selling_price'] }}</td>
                <td class="uneditable" id="qty{{ loop.index }}">{{ products[product]['quantity_available'] }}</td>
                <td class="editable" id="restock_level{{ loop.index }}">{{ products[product]['restock_level'] }}</td>
                <td class="uneditable" id="status{{ loop.index }}">
                    <div class="form-check form-switch ml-3">
                        {% if products[product]['product_status'] == 'active' %}
                        <input class="form-check-input product_status_checkbox" type="checkbox" id="flexSwitchCheckDefault" value="{{ product }}" checked>
                        {% else %}
                        <input class="form-check-input product_status_checkbox" type="checkbox" id="flexSwitchCheckDefault" value="{{ product }}">
                        {% endif %}
                      </div>
                </td>
                <td>
                    <button data-toggle="modal" data-target="#exampleModalScrollable{{ product}}"
                        id="{{ product }}" data_id="{{ product }}" class="btn btn-light btn-sm active restock"
                        role="button" aria-pressed="true"><i class="fa fa-plus"></i>&ensp;Restock</button>
                    <div class="modal fade" id="exampleModalScrollable{{ product }}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle">
                                        {{ products[product]['product_name'] }} restock
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" id="form_restock_product{{ product }}">
                                        <!-- Thie hidden field below will be used 
                                        to store the product ID which is a value
                                        required when adding a product batch-->
                                        {{ restock_product_form.hidden_tag() }}
                                        <input type="hidden" name='product' id="{{'product' + product|string}}" value="{{ product }}">
                                        <div class="row">
                                            {{ restock_product_form.received.label() }}
                                            {{ restock_product_form.received(id="received" + product|string ) }}
                                        </div><br>
                                        <div class="row">
                                            {{ restock_product_form.supplier(id="supplier" + product|string ) }}
                                        </div><br>
                                        <div class="row">
                                            {{ restock_product_form.quantity(id="quantity" + product|string ) }}
                                        </div><br>
                                        <div class="row">
                                            {{ restock_product_form.buying_price(id="buying_quantity" + product|string ) }}
                                        </div><br>
                                        <div class="row">
                                            {{ restock_product_form.discount(id="discount" + product|string ) }}
                                        </div><br>
                                        <div class="row">
                                            {{ restock_product_form.selling_price(id="selling_price" + product|string ) }}
                                        </div><br>
                                        <div class="row">
                                            {{ restock_product_form.expiry.label() }}
                                            {{ restock_product_form.expiry(id="expiry" + product|string ) }}
                                        </div>
                                </div>
                                <div class="modal-footer">
                                        {{ restock_product_form.submit(id=product ) }}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
<button id="{{ product }}" data_id="{{ product }}" class="btn btn-danger btn-sm active deleteStock"
    role="button" aria-pressed="true"><i class="fa fa-trash"></i>&ensp;Delete</button></td>
</tr>
{% endfor %}
</tbody>
</table>
<!-- Scroll to Top Button-->
{% endblock %}