{% if current_user.has_role('SuperUser') %}
{% extends 'superuser/superuser_templates/base_superuser_template.html' %}
{% elif current_user.has_role('Admin') %}
{% extends 'admin/admin_templates/base_admin_template.html' %}
{% else %}
{% extends 'cashier/cashier_templates/base_cashier_template.html' %}
{% endif %}

{% block head %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard <span style="font-size: 18px;">/Sales</span><span
                style="font-size: 15px;"> /Add Order</span></h1>
        <h6 class="text-gray-600" style="margin-left: 500px;">Time: <span id="time"></span></h6>
    </div>
    {% endblock %}

    {% block body %}
    <div class="row">
        <div class="col-2">
            <a href="/cashier/sales" class="btn btn-primary btn-md active float-left ml-3" role="button"
                aria-pressed="true"><i class="fa fa-arrow-left"></i>&ensp;Back</a>
        </div>
    </div><br>
    <h3>Customer</h3>
    <div class="row">
        <div class="col-3">
            <a href="#" class="badge badge-success"> </a>&ensp;Clean Non-credit Customer
        </div>
        <div class="col-3">
            <a href="#" class="badge badge-primary"> </a>&ensp;Clean Credit Customer
        </div>
        <div class="col-3">
            <a href="#" class="badge badge-danger"> </a>&ensp;Non-credit Customer with unverified payment
        </div>
        <div class="col-3">
            <a href="#" class="badge badge-warning"> </a>&ensp;Credit customer with debt
        </div>
    </div><br>
    <table id="customerOrderSearch" class="table table-striped table-hover"
        style="display:block;overflow-y:scroll;text-align: center;">
        <thead class="thead-dark">
            <tr>
                <th scope="col" width="3%"></th>
                <th scope="col" width="5%">Select</th>
                <th scope="col" width="3%">#</th>
                <th scope="col" width="14%">Name</th>
                <th scope="col" width="12%">Location</th>
                <th scope="col" width="10%">Contact Number</th>
                <th scope="col" width="10%">Acc. Bal. (Ksh.)</th>
                <th scope="col" width="20%">Note</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#" class="badge badge-sm badge-success"> </a></td>
                <td><input type="radio" id='selectedUnregisteredCustomer'
                        onclick="selectCustomer(this); enable_complete_order(); enable_customer_account_payment()"
                        name="selectedCustomer" value="1"></td>
                <th scope="row" id="id">--</th>
                <td id="customerName">Unregistered Customer</td>
                <td id="customerLocation">--</td>
                <td id="customerNumber">--</td>
                <td id="customerAccountBalance">--</td>
                <td id="customerNote">--</td>
                <input type="hidden" id='credit_customer0' name="credit_customer" value="0"></input>
            </tr>
            {% for customer in customers %}
            <tr>
                {% if (customer.credit_customer == 0) and (customer.total_debt == 0) %}
                <td><a href="#" class="badge badge-success"> </a></td>
                {% elif (customer.credit_customer == 1) and (customer.total_debt == 0) %}
                <td><a href="#" class="badge badge-primary"> </a></td>
                {% elif (customer.credit_customer == 0) and (customer.total_debt > 0)%}
                <td><a href="#" class="badge badge-danger"> </a></td>
                {% elif (customer.credit_customer == 1) and (customer.total_debt > 0)%}
                <td><a href="#" class="badge badge-warning"> </a></td>
                {% endif %}
                <td><input type="radio" id='selectedCustomer'
                        onclick="selectCustomer(this); enable_complete_order(); enable_customer_account_payment()"
                        name="selectedCustomer" value="{{ customer.id }}"></td>
                <th scope="row" id="customer_id{{ customer.id }}">{{ customer.id }}</th>
                <td id="customerName{{ customer.id }}">{{ customer.first_name+' '+customer.last_name }}</td>
                <td id="customerLocation{{ customer.id }}">{{ customer.location }}</td>
                <td id="customerNumber{{ customer.id }}">{{ customer.phone_no }}</td>
                <td id="customerAccountBalance{{ customer.id }}">{{ customer.account_balance }}</td>
                <td id="customerNote{{ customer.id }}">{{ customer.note }}</td>
                <input type="hidden" id='credit_customer{{ customer.id }}' name="credit_customer"
                    value="{{ customer.credit_customer }}"></input>
                <input type="hidden" id='customer_debt{{ customer.id }}' name="customer_debt"
                    value="{{ customer.total_debt }}"></input>
            </tr>
            {% endfor %}
        </tbody>
    </table><br>
    <p style="text-align:center">If non-registered customer field name below</p>
    <div class="row" class="d-flex justify-content-center">
        <div class="input-group-prepend col-5">
            <span class="input-group-text offset-10" id="inputGroup-sizing-default">Customer Name:</span>
        </div>
        <div class="col-5">
            <input type="text" style="margin-left: 50px;" class="form-control col-6" name="newCustomer" id="newCustomer"
                aria-describedby="inputGroup-sizing-default" autofocus
                style="font-family: FontAwesome, Arial; font-style: normal;">
        </div>
    </div><br>
    <h3>Order Type</h3>
    <p style="text-align:center">Please select the type of order below</p>
    <div class="row d-flex justify-content-center">
        <label class="radio_item ml-5">
            <input type="radio" name="order_type" id="walk_in" value="walk in" class="checkbox"
                onclick="show_delivery_section(); enable_complete_order(); activate_credit_order_button()">
            <div class="option_inner walk_in">
                <div class="tickmark"></div>
                <div class="icon"><i class="fa fa-male fa-3x" aria-hidden="true"></i></div>
                <div class="name">Walk-in</div>
            </div>
        </label>
        <label class="radio_item">
            <input type="radio" name="order_type" id="walk_in_delivery" value="walk in delivery" class="checkbox"
                onclick="show_delivery_section();  enable_complete_order(); activate_credit_order_button()">
            <div class="option_inner walk_in_delivery">
                <div class="tickmark"></div>
                <div class="icon"><i class="fa fa-shopping-bag fa-2x"></i></div>
                <div class="name">Walk-in Delivery</div>
            </div>
        </label>
        <label class="radio_item">
            <input type="radio" name="order_type" id="phone_call" value="phone" class="checkbox"
                onclick="show_delivery_section(); enable_complete_order(); activate_credit_order_button()">
            <div class="option_inner phone_call">
                <div class="tickmark"></div>
                <div class="icon"><i class="fa fa-phone fa-3x" aria-hidden="true"></i></div>
                <div class="name">Phone Call</div>
            </div>
        </label>
    </div><br>
    <h3>Products</h3>
    {% block order_section %}{% endblock %}
    <h3>Cart</h3>
    <div class="row">
        <table class="table table-bordered" id="cartEditable">
            <thead>
                <tr style="text-align: center;">
                    <th scope="col" width="5%">#</th>
                    <th scope="col" width="40%">Product Description</th>
                    <th scope="col" width="10%">Unit Price</th>
                    <th scope="col" width="10%">Quantity</th>
                    <th scope="col" width="10%">Discount</th>
                    <th scope="col" width="11%"></th>
                    <th scope="col" width="15%">Sub-Total</th>
                </tr>
            </thead>
            <tbody id="cartData">

            </tbody>
            <tfoot>
                <th scope="row" colspan="6"><b>Total:</b></th>
                <td id="cartTotal" style="text-align: center;">0</td>
            </tfoot>
        </table>
    </div><br>
    <div class="row" id="customerDetails">

    </div><br>
    <div class="row">
        <div class="input-group-prepend col-5">
            <span class="input-group-text offset-9" id="inputGroup-sizing-default">Date of Delivery:</span>
        </div>
        <div class="col-5">
            <input type="date" class="form-control col-6 offset-2" name="deliveryDate" id="deliveryDate" value=""
                aria-describedby="inputGroup-sizing-default" required autocomplete="date" autofocus
                style="font-family: FontAwesome, Arial; font-style: normal;">
        </div>
    </div><br><br>

    <div class="row">
        <div class="col-6 d-flex justify-content-center">
            <div id="creditOrderButton" style="pointer-events: none;">
                <a href="#" data-toggle="modal" onclick="setDeliveryDate()"
                    class="btn btn-success btn-md placeOrderCredit" role="button" aria-pressed="true"><i
                        class="fa fa-check"></i>&ensp;Complete Order (On
                    Credit)<!--& Print Bill--></a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="completeOrderCredit" tabindex="-1" role="dialog"
                aria-labelledby="completeOrderCreditTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="completeOrderCreditTitle">Place Order</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                <input type="hidden" id="orderCustomerName" value="John Doe"></input>
                                <h5 class="ml-5">Delivery</h5>
                                <div class="row">
                                    <select type="text" name="credit-deliverer" id="credit-deliverer"
                                        class="form-control col-md-9"
                                        style="padding-right:15px;padding-left:15px;margin-left: 60px" required
                                        onfocus='this.size=3;' onblur='this.size=1;'
                                        onchange='this.size=1; this.blur(); enable_complete_order()' required>
                                        <option value="" selected="selected" disabled>Deliverer...</option>
                                        {% for deliverer in deliverers %}
                                        <option value="{{ deliverer.id }}">{{ deliverer.first_name+'
                                            '+deliverer.last_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div><br>
                                <div class="row">
                                    <label for="credit-delivery-location" style="margin-left: 60px">Location</label>
                                    <input type="text" name="credit-delivery-location" id="credit-delivery-location"
                                        class="form-control col-9" style="padding:15px;margin-left: 60px" required
                                        onkeyup="enable_complete_order()">
                                </div>
                                <input type="hidden" name="where" id="where" value="customer">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" style="margin-right: 50px"
                                id="completeCreditDeliveryOrder" disabled>Place
                                Order<!--Print Bill--></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <a href="#" data-toggle="modal" id="completeOrderNowBtn" data-target="#completeOrderNow"
                class="btn btn-success btn-md placeOrder" role="button" aria-pressed="true"
                onclick="enable_customer_account_payment()"><i class="fa fa-check"></i>&ensp;Complete Order
                (Now)<!--& Print Receipt--></a>
            <!-- Modal -->
            <div class="modal fade" id="completeOrderNow" tabindex="-1" role="dialog"
                aria-labelledby="completeOrderNowTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="completeOrderNowTitle">Place Order</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                <input type="hidden" id="orderCustomerName" value="John Doe"></input>
                                <h5 class="ml-5">Transaction</h5>
                                <div class="row">
                                    <p style="margin-left: 60px" id="orderTotal">Order Cost: Ksh. <span
                                            id="order_total_value">0.00</span></p>
                                </div>
                                <p style="margin-left: 60px;">Mode of Payment:</p>
                                <div class="row d-flex justify-content-center">
                                    <label class="radio_item" style=" width: 130px; height: 125px;">
                                        <input type="radio" name="payment-mode" id="cash" value="cash" class="checkbox"
                                            onclick="show_extra_fields(); enable_complete_order()">
                                        <div class="option_inner cash">
                                            <div class="tickmark"></div>
                                            <div class="icon"><i class="fa fa-money fa-2x" aria-hidden="true"></i></div>
                                            <div class="name">Cash</div>
                                        </div>
                                    </label>
                                    <label class="radio_item" style=" width: 130px; height: 125px;">
                                        <input type="radio" name="payment-mode" id="mpesa" value="mpesa"
                                            class="checkbox" onclick="show_extra_fields(); enable_complete_order()">
                                        <div class="option_inner mpesa">
                                            <div class="tickmark"></div>
                                            <div class="icon"><i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                                            </div>
                                            <div class="name">M-Pesa</div>
                                        </div>
                                    </label>
                                    <!--<label class="radio_item" style=" width: 130px; height: 125px;">
                                        <input type="radio" name="payment-mode" id="pdq" value="pdq" class="checkbox"
                                            onclick="show_extra_fields(); enable_complete_order()">
                                        <div class="option_inner pdq">
                                            <div class="tickmark"></div>
                                            <div class="icon"><i class="fa fa-credit-card fa-2x" aria-hidden="true"></i>
                                            </div>
                                            <div class="name">PDQ</div>
                                        </div>
                                    </label>-->
                                    <label class="radio_item" style=" width: 130px; height: 125px;">
                                        <input type="radio" name="payment-mode" id="hybrid" value="hybrid"
                                            class="checkbox" onclick="show_extra_fields(); enable_complete_order()">
                                        <div class="option_inner hybrid">
                                            <div class="tickmark"></div>
                                            <div class="icon"><i class="fa fa-arrows-alt fa-2x" aria-hidden="true"></i>
                                            </div>
                                            <div class="name">Hybrid</div>
                                        </div>
                                    </label>
                                    <label class="radio_item" style=" width: 130px; height: 125px;">
                                        <input type="radio" name="payment-mode" id="customer_account"
                                            value="customer_account" class="checkbox"
                                            onclick="show_extra_fields(); enable_complete_order()">
                                        <div class="option_inner customer_account">
                                            <div class="tickmark"></div>
                                            <div class="icon"><i class="fa fa-user fa-2x" aria-hidden="true"></i>
                                            </div>
                                            <div class="name">Customer Account</div>
                                        </div>
                                    </label>
                                </div><br>
                                <div class="row cash_paid_val" id="cash_paid_val">
                                    <label for="amount_paid" style="margin-left: 60px">Amount Paid (Ksh.)</label>
                                    <input type="number" name="amount_paid" id="amount_paid" class="form-control col-9"
                                        style="padding:15px;margin-left: 60px" required min="0" val="0.00"
                                        onkeyup="enable_complete_order()">
                                    <br>
                                    <div class="row">
                                        <p style="margin-left: 60px" id="paidBalance">Balance: Ksh. 0.00</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="d-flex justify-content-center verify_transaction">
                                            <a href="#" data-toggle="modal" data-target="#initiateStkPush"
                                                aria-pressed="true" id="initiate_stk_push_prompt"
                                                onclick="fetch_transactions()" class="btn btn-outline-dark">Initiate STK
                                                Push&ensp;<i class="fa fa-mobile" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="d-flex justify-content-center verify_transaction">
                                            <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                                aria-controls="offcanvasRight" id="verify_transaction"
                                                onclick="fetch_transactions()" class="btn btn-outline-dark">Verify
                                                Transaction&ensp;<i class="fa fa-exchange" role="button"
                                                    aria-pressed="true"></i></a>
                                        </div>
                                    </div>
                                </div><br>
                                <div id="customer_account_section" class="customer_account_section">
                                    <div id="customer_account_completion_error">

                                    </div>
                                    <div id="customer_account_txn_details">
                                        <p class="ml-5">Current Account Balance: Ksh. <span
                                                id="current_customer_account_balance">0.00</span></p>
                                        <p class="ml-5">New Account Balance (After transaction): Ksh. <span
                                                id="new_customer_account_balance">0.00</span></p>
                                        <button type="button" class="btn btn-info btn-block mb-5"
                                            id="customer_account_completion_btn"
                                            onclick="complete_with_customer_account_balance()" disabled>Use Customer
                                            Account Balance</button>
                                    </div>
                                </div>
                                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                                    aria-labelledby="offcanvasRightLabel">
                                    <div class="offcanvas-header">
                                        <h5 id="offcanvasRightLabel">Transaction Verification</h5>
                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body">
                                        <div id="transaction_flash"></div>
                                        <div id="transaction_loader">
                                            <div class="d-flex justify-content-center">
                                                <div class="spinner-border text-success mt-5 mb-5" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="transaction_results">
                                            <div class="matching_transactions"></div>
                                        </div>
                                        <br>
                                        <a href="#" id="show_transaction_filters"
                                            style="text-decoration: none;">Advanced <i class="fa fa-caret-down"
                                                aria-hidden="true"></i></a>
                                        <div id="identifiers_fetch">
                                            <a href="#" id="hide_transaction_filters"
                                                style="text-decoration: none;">Hide <i class="fa fa-caret-up"
                                                    aria-hidden="true"></i></a>
                                            <p>Use an identifier to filter transactions.</p>
                                            <p>Select either 'Trancasction Code' or 'Mobile Number' as an ID.</p>
                                            <p>Enter the last 3 digits/characters of the ID selected</p>
                                            <p>Enter the amount if it differs from the order cost. Leave blank if you
                                                are searching for one matching the order cost.</p>
                                            <div class="row">
                                                <div class="col-7">
                                                    <select class="form-select" id="mpesa_txn_id"
                                                        aria-label="Default select example"
                                                        onchange="enable_transaction_search_btn()">
                                                        <option selected disabled>Select Identifier</option>
                                                        <option value="phone">Phone Number</option>
                                                        <option value="code">Transaction Code</option>
                                                    </select>
                                                </div>
                                                <div class="col-5">
                                                    <input type="text" class="form-control" id="transaction_id_value"
                                                        onkeyup="enable_transaction_search_btn()" placeholder="xxx">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-12"><input type="number" class="form-control"
                                                        id="transaction_amount"
                                                        onkeyup="enable_transaction_search_btn()"
                                                        placeholder="Transaction Amount..."></div>

                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-6">

                                                </div>
                                                <div class="col-6">
                                                    <div class="d-flex justify-content-center"><button type="button"
                                                            class="btn btn-dark" id="transaction_search_btn"
                                                            onclick="fetch_transaction_using_id()" disabled><i
                                                                class="fa fa-search" aria-hidden="true"></i>
                                                            Search</button></div>
                                                </div>
                                            </div>
                                            <br>
                                            <p><i>'Transaction Amount' takes precedence in search if field is keyed
                                                    in.</i></p>
                                        </div>
                                    </div>
                                    <div class="offcanvas-footer">
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn btn-primary mb-5"
                                                onclick="verify_transaction_later()">Verify
                                                Later</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="delivery-details">
                                    <h5 class="ml-5">Delivery</h5>
                                    <div class="row">
                                        <div class="ios-switch ml-5">
                                            <label>
                                                <h6>Payment on Delivery</h6>
                                            </label>
                                            <div class="switch-body">
                                                <div class="toggle">

                                                </div>
                                            </div>
                                            <input type="checkbox" name="payment_on_delivery" id="payment_on_delivery">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <select type="text" name="deliverer" id="deliverer"
                                            class="form-control col-md-9"
                                            style="padding-right:15px;padding-left:15px;margin-left: 60px" required
                                            onfocus='this.size=3;' onblur='this.size=1;'
                                            onchange='this.size=1; this.blur(); enable_complete_order()' required>
                                            <option value="" selected="selected" disabled>Deliverer...</option>
                                            {% for deliverer in deliverers %}
                                            <option value="{{ deliverer.id }}">{{ deliverer.first_name+'
                                                '+deliverer.last_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div><br>
                                    <div class="row">
                                        <label for="delivery-location" style="margin-left: 60px">Location</label>
                                        <input type="text" name="delivery-location" id="delivery-location"
                                            class="form-control col-9" style="padding:15px;margin-left: 60px" required
                                            onkeyup="enable_complete_order()">
                                    </div>
                                </div>
                                <input type="hidden" name="where" id="where" value="customer">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" style="margin-right: 50px" id="completeOrder"
                                disabled>
                                Place Order<!--Print Receipt-->
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- STK Push Modal -->
            <div class="modal fade" id="initiateStkPush" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Mpesa STK Push MSISDN</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" class="d-flex justify-content-center">
                            <div class="input-group-prepend col-3">
                                <span class="input-group-text ml-5" id="inputGroup-sizing-default">+254</span>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" name="stk_push_no" id="stk_push_no"
                                    aria-describedby="inputGroup-sizing-default" autofocus placeholder="7XXXXXXXX"
                                    style="font-family: FontAwesome, Arial; font-style: normal;">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="initiateStkPushBtn" disabled
                            onclick="initiate_stk_push('{{ current_user.staff.id }}'); return false;">Initiate STK Push</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div><br>
    <script src="{{ url_for('static', filename='js/sales.js') }}"></script>
    <!-- Scroll to Top Button-->
    {% endblock %}