{% extends 'auth/auth_templates/base_admin_auth_template.html' %}

{% block title %}
Forgot Password
{% endblock %}

{% block head %}
Forgot Password
{% endblock %}

{% block body %}
{{ form.csrf_token }}
<div class="wrap-input100 m-b-20">
    <span class="label-input100">{{ form.email_address.label() }}</span>
    <input class="input100" type="email" name="email_address" id="email_address"
        placeholder="&#xf0e0;  registeredemail@example.com" style="font-family:Arial, FontAwesome">
    <span class="focus-input100"></span>
</div>

<div class="flex-sb-m w-full m-b-30">

</div>
<div class="container-login100-form-btn">
    {{ form.submit(class="login100-form-btn") }}
</div>
<div style="margin-top: 20px">
    <!-- Display error -->

</div>
<div>
    <br>
    <p><a href="/auth/admin/login" style="color: inherit;text-decoration: none;">Back to
            Login</a></p>
</div>
{% endblock %}