{% extends 'auth/auth_templates/base_admin_auth_template.html' %}

{% block title %}
Reset Password
{% endblock %}

{% block head %}
Reset Password
{% endblock %}

{% block body %}
{{ form.csrf_token }}
<div class="wrap-input100 m-b-20">
    <span class="label-input100">{{ form.password1.label() }}</span>
    <input class="input100" type="password" name="password1" id="password1" placeholder="&#xf084; ********" style="font-family:Arial, FontAwesome">
    <span class="focus-input100" ></span>
    <span class="eye1" id="eye1">
        <i onclick="showHidePassword('1', 'unhide');" id="unhide1" class="fa fa-eye"></i>
        <i onclick="showHidePassword('1', 'hide');" id="hide1" class="fa fa-eye-slash"></i>
    </span>
</div>

<div class="wrap-input100 m-b-20">
    <span style="color: red;" id="pass2-error"></span>
    <span class="label-input100">Confirm Password</span>
    <input class="input100" type="password" name="password2" id="password2" placeholder="&#xf084; ********" style="font-family:Arial, FontAwesome">
    <span class="focus-input100" ></span>
    <span class="eye2" id="eye2">
        <i onclick="showHidePassword('2', 'unhide');" id="unhide2" class="fa fa-eye"></i>
        <i onclick="showHidePassword('2', 'hide');" id="hide2" class="fa fa-eye-slash"></i>
    </span>
</div>
<div class="flex-sb-m w-full m-b-30">

</div>
<div class="container-login100-form-btn">
    <button class="login100-form-btn" type="submit" name="reset_button">
        Reset
    </button>
</div>
<div>
</div>

<div style="margin-top: 20px">
    <!-- Display validation errors -->

</div>
{% endblock %}