<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="shortcut icon" type="image/png" sizes="196x196"
        href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <!--===============================================================================================-->
    <link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!--===============================================================================================-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--===============================================================================================-->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!--===============================================================================================-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <style>
        .login100-form-title-color {
          background-image: url("{{ url_for('static', filename='img/color_band.png') }}");
        }
        .login100-form-title {
          background-image: url("{{ url_for('static', filename='img/cifor-icraf-landscape.png') }}");
        }
    </style>
</head>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title">
                <span class="login100-form-title-1">
                    {% block head %}{% endblock %}
                </span>
            </div>
            <div class="text-center container mx-auto d-block">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                    <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <form class="login100-form" method="POST">
                {% block body %}{% endblock %}
            </form>
            <div class="login100-form-title-color"></div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script  type="text/javascript">
    function showHidePassword(id, action){
        /*
         The id is the number that comes last as the identifier in the password field.
        This is because in some forms we have 2 password fields (one for confirmation)
        This makes the IDs of the field, hide and unhide icon and class eye to have 
        duplicates. The appended number therefore uniquely identifies them.
        */
        var password_field = document.getElementById('password'+id);
        var hide = document.getElementById('hide'+id);
        var unhide = document.getElementById('unhide'+id);
        var eye_span = document.getElementById('eye'+id);
        if(action === 'unhide'){
            password_field.type = "text";
            hide.style.display = "block";
            unhide.style.display = "none";
            eye_span.style.top = "12px";
        }
        else{
            password_field.type = "password";
            hide.style.display = "none";
            unhide.style.display = "block";
            eye_span.style.top = "12px";
        }
    }
</script>
</body>

</html>