{% extends 'public/public_templates/base_public_template.html' %}

{% block body %}

<body>
    {% if random_number == 1 %}
    <section class="ftco-section img bg-hero" style="background-image: url(../static/img/landscape1.jpg);">
        {% elif random_number == 2 %}
        <section class="ftco-section img bg-hero" style="background-image: url(../static/img/landscape2.jpg);">
            {% elif random_number == 3 %}
            <section class="ftco-section img bg-hero" style="background-image: url(../static/img/landscape3.jpg);">
                {% elif random_number == 4 %}
                <section class="ftco-section img bg-hero" style="background-image: url(../static/img/landscape4.jpg);">
                    {% elif random_number == 5 %}
                    <section class="ftco-section img bg-hero"
                        style="background-image: url(../static/img/landscape5.jpg);">
                        {% elif random_number == 6 %}
                        <section class="ftco-section img bg-hero"
                            style="background-image: url(../static/img/landscape6.jpg);">
                            {% elif random_number == 7 %}
                            <section class="ftco-section img bg-hero"
                                style="background-image: url(../static/img/landscape7.jpg);">
                                {% elif random_number == 8 %}
                                <section class="ftco-section img bg-hero"
                                    style="background-image: url(../static/img/landscape8.jpg);">
                                    {% elif random_number == 9 %}
                                    <section class="ftco-section img bg-hero"
                                        style="background-image: url(../static/img/landscape9.jpg);">
                                        {% else %}
                                        <section class="ftco-section img bg-hero"
                                            style="background-image: url(../static/img/landscape10.jpg);">
                                            {% endif %}
                                            <div class="container">
                                                <div class="row justify-content-center">
                                                    <div class="col-md-6 text-center mb-5 staus-page-title">
                                                        <img src="{{ url_for('static', filename='img/cifor-icraf-logo.png') }}"
                                                            width="230px" height="100px">
                                                        <br><br>
                                                        <h2 class="heading-section">CIFOR-ICRAF EVENTS</h2>
                                                        <br><br>
                                                        <h1 class="status-page-text" style="font-size: 1000%;">{{ error_code }}</h1>
                                                        <h3 class="status-page-text">{{ error_def }}</h3>
                                                        <h5 class="mb-2 status-page-text">{{ error_message }}</h5>
                                                        <a href="/" style="color: white" class="backhome"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&ensp;Back Home</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        {% endblock %}