{% if current_user.has_role('SuperUser') %}
{% extends 'superuser/superuser_templates/base_superuser_template.html' %}
{% else %}
{% extends 'admin/admin_templates/base_admin_template.html' %}
{% endif %}


{% block head %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard <span style="font-size: 18px;">/Analytics </span><span
        style="font-size: 13px;">/Expenditure Analytics</span></h1>
    <h6 class="text-gray-600" style="margin-left: 500px;">Time: <span id="time"></span></h6>
  </div>
  {% endblock %}

  {% block body %}
  <div class="row">
    <div class="col-4">
      <a href="/admin/analytics" class="btn btn-primary btn-md active " role="button" aria-pressed="true"><i
          class="fa fa-arrow-left"></i>&ensp;Back</a>
    </div>
  </div>
  <br>
  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" class="nav-link analyticsTab" href="#daily" id="daily_expenditure"
        style="color: inherit;">Daily</a>
    </li>
    <li><a data-toggle="tab" class="nav-link analyticsTab" href="#weekly" id="weekly_expenditure"
        style="color: inherit;">Weekly</a></li>
    <li><a data-toggle="tab" class="nav-link analyticsTab" href="#biweekly" id="biweekly_expenditure"
        style="color: inherit;">Bi-Weekly</a></li>
    <li class="active"><a data-toggle="tab" class="nav-link analyticsTab active" href="#monthly"
        id="monthly_expenditure" style="color: inherit;">Monthly</a></li>
    <li><a data-toggle="tab" class="nav-link analyticsTab" href="#quaterly" id="quaterly_expenditure"
        style="color: inherit;">Quaterly</a></li>
    <li><a data-toggle="tab" class="nav-link analyticsTab" href="#trimesterly" id="trimesterly_expenditure"
        style="color: inherit;">Trimesterly</a>
    <li><a data-toggle="tab" class="nav-link analyticsTab" href="#half-yearly" id="half_yearly_expenditure"
        style="color: inherit;">Half-Yearly</a>
    <li><a data-toggle="tab" class="nav-link analyticsTab" href="#yearly" id="yearly_expenditure"
        style="color: inherit;">Yearly</a>
    </li>
  </ul>
  <br>
  <div class="tab-content">
    <div id="daily" class="tab-pane fade">
      <div class="row">
        <div class="col-6">
          <canvas id="daily_expenditure_categories_chart"></canvas>
        </div>
        <div class="col-6">

        </div>
      </div>
    </div>
    <div id="weekly" class="tab-pane fade">
      <div class="row">
        <div class="col-6">
          <canvas id="weekly_expenditure_categories_chart"></canvas>
        </div>
        <div class="col-6">

        </div>
      </div>
    </div>
    <div id="biweekly" class="tab-pane fade">
      <div class="row">
        <div class="col-6">
          <canvas id="biweekly_expenditure_categories_chart"></canvas>
        </div>
        <div class="col-6">

        </div>
      </div>
    </div>
    <div id="monthly" class="tab-pane fade main show active">
      <div class="row">
        <div class="col-6">
          <canvas id="monthly_expenditure_categories_chart"></canvas>
        </div>
        <div class="col-6">
          <canvas id="monthly_expenditure_details_chart"></canvas>
        </div>
      </div>
    </div>
    <div id="quaterly" class="tab-pane fade">
      <div class="row">
        <div class="col-6">
          <canvas id="quaterly_expenditure_categories_chart"></canvas>
        </div>
        <div class="col-6">

        </div>
      </div>
    </div>
    <div id="trimesterly" class="tab-pane fade">
      <div class="row">
        <div class="col-6">
          <canvas id="trimesterly_expenditure_categories_chart"></canvas>
        </div>
        <div class="col-6">

        </div>
      </div>
    </div>
    <div id="half-yearly" class="tab-pane fade">
      <div class="col-6">
        <canvas id="half_yearly_expenditure_categories_chart"></canvas>
      </div>
      <div class="col-6">

      </div>
    </div>
    <div id="yearly" class="tab-pane fade">
      <div class="row">
        <div class="col-6">
          <canvas id="yearly_expenditure_categories_chart"></canvas>
        </div>
        <div class="col-6"></div>
      </div>
    </div>
  </div>

  <script>
    //Execute the function for fetching the charts of the default tab
    window.onload = function () {
      monthly_expenditure_requests();
    }  
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
  <!-- Scroll to Top Button-->
  {% endblock %}