{% extends 'admin/admin_templates/base_admin_template.html' %}

{% block body %}
<!-- Begin Page Content -->
<!-- Begin Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 style="margin-top: -10px">Customers</h4>
            </div>
            <div class="col-2">
                <div class="ml-4">
                    <h5 style="color:#9A9A9A;">Time: <span id="time"></span></h5>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <a class="btn btn-success btn-fill btn-round btn-wd active ml-5" data-toggle="modal" data-target="#addCustomerModal">
                <i class="fa fa-user-plus" aria-hidden="true"></i>&ensp;Add Customer
            </a>
        </div>
        <div class="modal fade modal-mini modal-primary" id="addCustomerModal" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <div class="modal-profile">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="modal-body text-center">
                        <p>Add Customer</p>
                    </div>
                    <form method="POST" id="form_add_customer">
                        <div class="modal-body">
                            {{ add_customer_form.hidden_tag() }}
                            <div class="row">
                                {{ add_customer_form.firstname }}
                            </div><br>
                            <div class="row">
                                {{ add_customer_form.lastname }}
                            </div><br>
                            <div class="row">
                                {{ add_customer_form.phonenumber }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-6">
                                    {{ add_customer_form.close }}
                                </div>
                                <div class="col-6">
                                    {{ add_customer_form.submit }}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card card-plain table-plain-bg">
                <div class="card-header ">
                    <h4 class="card-title">Customer Management</h4>
                    <p class="card-category">Registered Customers</p>
                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <th>#</th>
                            <th>Customer Code</th>
                            <th>Name</th>
                            <th>Phone Number</th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for customer in customers %}
                            <tr>
                                <td>{{ customer.id }}</td>
                                <td>{{ customer.customer_code }}</td>
                                <td>{{ customer.first_name+' '+customer.last_name }}</td>
                                <td>{{ customer.phone_no }}</td>     
                                <td>
                                    <a class="btn btn-danger btn-fill btn-round active deleteCustomer" id="{{ customer.id }}" data_id="{{ customer.id }}">
                                        <i class="fa fa-user-times" aria-hidden="true"></i>&ensp;Delete
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Scroll to Top Button-->
{% endblock %}