{% extends 'admin/admin_templates/base_admin_template.html' %}
{% block body %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10">
        <h4 style="margin-top: -10px">Home</h4>
      </div>
      <div class="col-2">
        <div class="ml-4">
          <h5 style="color:#9A9A9A;">Time: <span id="time"></span></h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card ">
          <div class="card-header ">
            <h4 class="card-title">Customer Type Comparison</h4>
            <p class="card-category">Last Month's Performance</p>
          </div>
          <div class="card-body ">
            <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
            <div class="legend">
              <i class="fa fa-circle text-info"></i> Walk-In Customers
              <i class="fa fa-circle text-danger"></i> Online Customers
              <i class="fa fa-circle text-warning"></i> Phone Call Customers
            </div>
            <hr>
            <div class="stats">
              <i class="fa fa-clock-o"></i> Orders made in the last one month
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card ">
          <div class="card-header ">
            <h4 class="card-title">Customer Activity</h4>
            <p class="card-category">24 Hours performance</p>
          </div>
          <div class="card-body ">
            <div id="chartHours" class="ct-chart"></div>
          </div>
          <div class="card-footer ">
            <div class="legend">
              <i class="fa fa-circle text-info"></i> Walk-In Customers
              <i class="fa fa-circle text-danger"></i> Online Customers
              <i class="fa fa-circle text-warning"></i> Phone Call Customers
            </div>
            <hr>
            <div class="stats">
              <i class="fa fa-history"></i> Updated 3 minutes ago
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card ">
          <div class="card-header ">
            <h4 class="card-title">2023 Customer Type Performance</h4>
            <p class="card-category">All Orders</p>
          </div>
          <div class="card-body ">
            <div id="chartActivity" class="ct-chart"></div>
          </div>
          <div class="card-footer ">
            <div class="legend">
              <i class="fa fa-circle text-info"></i> Walk-In Customers
              <i class="fa fa-circle text-danger"></i> Online Customers
            </div>
            <hr>
            <div class="stats">
              <i class="fa fa-check"></i> Data information
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card  card-tasks">
          <div class="card-header ">
            <h4 class="card-title">Tasks</h4>
            <p class="card-category">Backend development</p>
          </div>
          <div class="card-body ">
            <div class="table-full-width">
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td>Create Customer Performance Reports</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-link">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-link">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked>
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td>Send Promotional emails</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-link">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-link">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked>
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td>Track deliveries
                    </td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-link">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-link">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" checked>
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td>Print Customers list</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-link">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-link">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}