{% if current_user.has_role('SuperUser') %}
{% extends 'superuser/superuser_templates/base_superuser_template.html' %}
{% else %}
{% extends 'admin/admin_templates/base_admin_template.html' %}
{% endif %}

{% block body %}
<!-- Begin Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 style="margin-top: -10px">Departments/ <span style="font-size: 80%;">Department Details</span></h4>
            </div>
            <div class="col-2">
                <div class="ml-4">
                    <h5 style="color:#9A9A9A;">Time: <span id="time"></span></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="row">
                    <a class="btn btn-link btn-simple active" href="/admin/departments" style="text-decoration: none;">
                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&ensp;Back
                    </a>
                </div>
                <br>
                <div class="card">
                    <div class="header text-center">
                        <h4 class="title">{{ department_details.department }}</h4>
                        <p class="category"># {{ department_details.id }}</p>
                        <p class="category">Registered on {{ department_details.created_at.strftime("%B %d, %Y") }}</p>
                        <p class="category">Registered Staff Count: {{ department_participants_count }}</p>
                        <br>
                    </div>
                    <div class="content table-responsive">
                        <table class="table">
                            <thead>
                                <th class="text-center" width="40%">Name</th>
                                <th class="text-center" width="50%">Email Address</th>
                                <th class="text-center" width="10%">Event Sessions Count</th>
                            </thead>
                            <tbody>
                                {% for participant in  department_participants %}
                                <tr>
                                    <td>{{ participant.first_name+' '+participant.last_name }}</td>
                                    <td>{{ participant.email_address }}</td>
                                    <td>{{ participant.sessions_count }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Scroll to Top Button-->
{% endblock %}