{% if current_user.has_role('SuperUser') %}
{% extends 'superuser/superuser_templates/base_superuser_template.html' %}
{% else %}
{% extends 'admin/admin_templates/base_admin_template.html' %}
{% endif %}

{% block body %}
<!-- Begin Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 style="margin-top: -10px">Departments</h4>
            </div>
            <div class="col-2">
                <div class="ml-4">
                    <h5 style="color:#9A9A9A;">Time: <span id="time"></span></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="btn btn-success btn-fill btn-round btn-wd active ml-3" data-toggle="modal"
                data-target="#addDepartmentModal">
                <i class="fa fa-plus" aria-hidden="true"></i>&ensp;Add Department
            </a>
        </div>
        <br>
        <div class="modal fade modal-mini modal-primary" id="addDepartmentModal" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <div class="modal-profile">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="modal-body text-center">
                        <p>Add Department</p>
                    </div>
                    <form method="POST" id="form_add_admin">
                        <div class="modal-body">
                            {{ add_department_form.hidden_tag() }}
                            <div class="row">
                                {{ add_department_form.department_name }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-5">
                                    {{ add_department_form.close }}
                                </div>
                                <div class="col-7">
                                    {{ add_department_form.submit }}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">All Departments</h4>
                        <p class="card-category">CIFOR-ICRAF</p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>#</th>
                                <th>Name</th>
                                <th>Registered Staff</th>
                                <th>Date Registered</th>
                                <th></th>
                                <th></th>
                            </thead>
                            <tbody>
                                {% for department in departments %}
                                <tr>
                                    <td>{{ department.id }}</td>
                                    <td>{{ department.department }}</td>
                                    <td>{{ department.participants_count }}</td>
                                    <td>{{ department.created_at.strftime("%b %d %Y") }}</td>
                                    <td>
                                        <a class="btn btn-info btn-fill btn-round active" href="/admin/department/{{ department.id }}">
                                            <i class="fa fa-eye" aria-hidden="true"></i>&ensp;View Details
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-md btn-danger btn-fill btn-round active deleteDepartment ml-5"
                                            id="{{ department.id }}" data_id="{{ department.id }}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>&ensp;Delete
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Scroll to Top Button-->
{% endblock %}