{% if current_user.has_role('SuperUser') %}
{% extends 'superuser/superuser_templates/base_superuser_template.html' %}
{% else %}
{% extends 'admin/admin_templates/base_admin_template.html' %}
{% endif %}

{% block body %}
<!-- Begin Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 style="margin-top: -10px">Event Venues/ <span style="font-size: 80%;">Venue Details</span></h4>
            </div>
            <div class="col-2">
                <div class="ml-4">
                    <h5 style="color:#9A9A9A;">Time: <span id="time"></span></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="row">
                    <a class="btn btn-link btn-simple active" href="/admin/event-venues" style="text-decoration: none;">
                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&ensp;Back
                    </a>
                </div>
                <br>
                <div class="card">
                    <div class="header text-center">
                        <h4 class="title">Main Conference Hall</h4>
                        <p class="category"># 1</p>
                        <p class="category">Registered on 23rd September 2023</p>
                        <p class="category">Registered Sessions Count: 11</p>
                        <br>
                    </div>
                    <div class="content table-responsive">
                        <table class="table">
                            <thead>
                                <th class="text-center" width="10%">#</th>
                                <th class="text-center" width="40%">Event Name</th>
                                <th class="text-center" width="40%">Session Name</th>
                                <th class="text-center" width="10%">Registered Participants Count</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Science Week</td>
                                    <td>Restoration of Forests</td>
                                    <td>11</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Science Week</td>
                                    <td>Cacao Harvesting in Ghana</td>
                                    <td>5</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Scroll to Top Button-->
{% endblock %}