{% if current_user.has_role('SuperUser') %}
{% extends 'superuser/superuser_templates/base_superuser_template.html' %}
{% else %}
{% extends 'admin/admin_templates/base_admin_template.html' %}
{% endif %}

{% block body %}
<!-- Begin Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 style="margin-top: -10px">Event Venues</h4>
            </div>
            <div class="col-2">
                <div class="ml-4">
                    <h5 style="color:#9A9A9A;">Time: <span id="time"></span></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="btn btn-success btn-fill btn-round btn-wd active ml-3" data-toggle="modal"
                data-target="#addEventVenueModal">
                <i class="fa fa-plus" aria-hidden="true"></i>&ensp;Add Event Venue
            </a>
        </div>
        <br>
        <div class="modal fade modal-mini modal-primary" id="addEventVenueModal" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <div class="modal-profile">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="modal-body text-center">
                        <p>Add Event Venue</p>
                    </div>
                    <form method="POST" id="form_add_admin">
                        <div class="modal-body">
                            {{ add_venue_form.hidden_tag() }}
                            <div class="row">
                                {{ add_venue_form.event_venue_name }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-5">
                                    {{ add_venue_form.close }}
                                </div>
                                <div class="col-7">
                                    {{ add_venue_form.submit }}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">All Event Venues</h4>
                        <p class="card-category">CIFOR-ICRAF</p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>#</th>
                                <th>Name</th>
                                <th>Registered Sessions</th>
                                <th>Date Registered</th>
                                <th></th>
                                <th></th>
                            </thead>
                            <tbody>
                                {% for venue in event_venues %}
                                <tr>
                                    <td>{{ venue.id }}</td>
                                    <td>{{ venue.venue }}</td>
                                    <td>{{ venue.session_count }}</td>
                                    <td>{{ venue.created_at.strftime("%b %d %Y") }}</td>
                                    <td>
                                        <a class="btn btn-info btn-fill btn-round active" href="/admin/event-venue/{{ venue.id }}">
                                            <i class="fa fa-eye" aria-hidden="true"></i>&ensp;View Details
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-md btn-danger btn-fill btn-round active deleteEventVenue ml-5"
                                            id="{{ venue.id }}" data_id="{{ venue.id }}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>&ensp;Delete
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Scroll to Top Button-->
{% endblock %}