{% if current_user.has_role('SuperUser') %}
{% extends 'superuser/superuser_templates/base_superuser_template.html' %}
{% else %}
{% extends 'admin/admin_templates/base_admin_template.html' %}
{% endif %}

{% block body %}
<!-- Begin Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 style="margin-top: -10px">Events</h4>
            </div>
            <div class="col-2">
                <div class="ml-4">
                    <h5 style="color:#9A9A9A;">Time: <span id="time"></span></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div>
                        <a class="btn btn-success btn-fill btn-round btn-wd active ml-1" data-toggle="modal"
                            data-target="#addEventModal">
                            <i class="fa fa-plus" aria-hidden="true"></i>&ensp;Add Event
                        </a>
                        <div class="modal fade modal-mini modal-primary" id="addEventModal" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header justify-content-center">
                                        <div class="modal-profile">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="modal-body text-center">
                                        <p>Add Event</p>
                                    </div>
                                    <form method="POST" id="form_add_admin">
                                        <div class="modal-body">
                                            {{ add_event_form.hidden_tag() }}
                                            <div class="row">
                                                {{ add_event_form.event_name }}
                                            </div><br>
                                            <div class="row">
                                                {{ add_event_form.start_date }}
                                            </div><br>
                                            <div class="row">
                                                {{ add_event_form.end_date }}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="row">
                                                <div class="col-6">
                                                    {{ add_event_form.close }}
                                                </div>
                                                <div class="col-6">
                                                    {{ add_event_form.submit }}
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                <div class="card">
                    <div class="header text-center">
                        <h4 class="title">All Events</h4>
                        <p class="category">Events Count: {{ events_count }}</p>
                        <br>
                    </div>
                    <div class="content table-responsive">
                        <table class="table">
                            <thead>
                                <th class="text-center" width="30%">Event</th>
                                <th class="text-center" width="25%">Start Date</th>
                                <th class="text-center" width="25%">End Date</th>
                                <th class="text-center" width="10%">Sessions</th>
                                <th width="10%"></th>
                            </thead>
                            <tbody>
                                {% for event in events %}
                                <tr>
                                    <td>{{ event.event }}</td>
                                    <td>{{ event.start_date.strftime("%d/%m/%Y") }}</td>
                                    <td>{{ event.end_date.strftime("%d/%m/%Y") }}</td>
                                    <td>{{ event.sessions_count }}</td>
                                    <td>
                                        <a class="btn btn-info btn-fill active btn-round" href="/admin/event/{{ event.event_uuid }}">
                                            <i class="fa fa-eye" aria-hidden="true"></i>&ensp;View Details
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Scroll to Top Button-->
{% endblock %}