{% if current_user.has_role('SuperUser') %}
{% extends 'superuser/superuser_templates/base_superuser_template.html' %}
{% else %}
{% extends 'admin/admin_templates/base_admin_template.html' %}
{% endif %}

{% block body %}
<!-- Begin Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 style="margin-top: -10px">Events/ <span style="font-size: 80%;">Event Details</span></h4>
            </div>
            <div class="col-2">
                <div class="ml-4">
                    <h5 style="color:#9A9A9A;">Time: <span id="time"></span></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="row">
                    <div class="col-7">
                        <a class="btn btn-link btn-simple active" href="/admin/events" style="text-decoration: none;">
                            <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&ensp;Back
                        </a>
                    </div>
                    <div class="col-5">
                        <a class="btn btn-success btn-fill btn-round btn-wd active ml-5" data-toggle="modal"
                            data-target="#addSessionModal">
                            <i class="fa fa-plus" aria-hidden="true"></i>&ensp;Add Session
                        </a>
                        <a class="btn btn-md btn-danger btn-fill btn-round active deleteEvent ml-5" id="12"
                        data_id="12">
                        <i class="fa fa-trash" aria-hidden="true"></i>&ensp;Delete Event
                        </a>
                        <div class="modal fade modal-mini modal-primary" id="addSessionModal" tabindex="-1"
                            role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header justify-content-center">
                                        <div class="modal-profile">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="modal-body text-center">
                                        <p>Add Session</p>
                                    </div>
                                    <form method="POST" id="form_add_admin">
                                        <div class="modal-body">
                                            {{ add_session_form.hidden_tag() }}
                                            <div class="row">
                                                {{ add_session_form.session_name }}
                                            </div><br>
                                            <div class="row">
                                                {{ add_session_form.session_description }}
                                            </div><br>
                                            <div class="row">
                                                {{ add_session_form.session_date }}
                                            </div><br>
                                            <div class="row">
                                                {{ add_session_form.session_venue }}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="row">
                                                <div class="col-6">
                                                    {{ add_session_form.close }}
                                                </div>
                                                <div class="col-6">
                                                    {{ add_session_form.submit }}
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <br>
                <div class="card">
                    <div class="header text-center">
                        <h4 class="title">{{ event_details.event }}</h4>
                        <p class="category"># {{ event_details.event_uuid }}</p>
                        <p class="category">{{ event_details.start_date.strftime("%B %d, %Y") }} - {{ event_details.end_date.strftime("%B %d, %Y") }}</p>
                        <p class="category">Sessions Count: {{ sessions_count }}</p>
                        <br>
                    </div>
                    <div class="content table-responsive">
                        <table class="table">
                            <thead>
                                <th class="text-center" width="25%">Session</th>
                                <th class="text-center" width="17%">Start Date Time</th>
                                <th class="text-center" width="17%">End Date Time</th>
                                <th class="text-center" width="20%">Venue</th>
                                <th class="text-center" width="5%">Active</th>
                                </th width="15%">
                                </th>
                            </thead>
                            <tbody>
                                {% for session in sessions %}
                                <tr>
                                    <td>{{ session.session }}</td>
                                    <td>{{ session.start_timestamp.strftime("%d/%m/%Y %H:%M:%S") }}</td>
                                    <td>{{ session.end_timestamp.strftime("%d/%m/%Y %H:%M:%S") }}</td>
                                    <td>{{ session.venue }}</td>
                                    <td>
                                        {% if session.db_status == "active" %}
                                        <i class="fa fa-check text-success">
                                        {% elif session.db_status == "inactive" %}
                                        <i class="fa fa-times text-danger"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-fill active btn-round" href="/admin/session/{{ session.session_uuid }}">
                                            <i class="fa fa-eye" aria-hidden="true"></i>&ensp;View Details
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Scroll to Top Button-->
{% endblock %}