{% if current_user.has_role('SuperUser') %}
{% extends 'superuser/superuser_templates/base_superuser_template.html' %}
{% else %}
{% extends 'admin/admin_templates/base_admin_template.html' %}
{% endif %}

{% block body %}
<!-- Begin Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 style="margin-top: -10px">Events</h4>
            </div>
            <div class="col-2">
                <div class="ml-4">
                    <h5 style="color:#9A9A9A;">Time: <span id="time"></span></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card">
                    <div class="header text-center">
                        <h4 class="title">All Events</h4>
                        <p class="category">Event Count: 23</p>
                        <br>
                    </div>
                    <div class="content table-responsive">
                        <table class="table">
                            <thead>
                                <th class="text-center" width="35%">Event</th>
                                <th class="text-center" width="30%">Date</th>
                                <th class="text-center" width="15%">Sessions</th>
                                <th width="20%"></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Science Week</td>
                                    <td>16/8/2023 - 20/8/2023</td>
                                    <td>11</td>
                                    <td>
                                        <a class="btn btn-default btn-fill active btn-round" href="/admin/event/3">
                                            View Details
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>GLF: A New Vision for Earth</td>
                                    <td>16/1/2023 - 20/1/2023</td>
                                    <td>14</td>
                                    <td>
                                        <a class="btn btn-default btn-fill active btn-round" href="/admin/event/3">
                                            View Details
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Plant Breeding Conference</td>
                                    <td>4/7/2023 - 20/7/2023</td>
                                    <td>22</td>
                                    <td>
                                        <a class="btn btn-default btn-fill active btn-round" href="/admin/event/3">
                                            View Details
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Scroll to Top Button-->
{% endblock %}