{% if current_user.has_role('SuperUser') %}
{% extends 'superuser/superuser_templates/base_superuser_template.html' %}
{% else %}
{% extends 'admin/admin_templates/base_admin_template.html' %}
{% endif %}

{% block head %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard <span style="font-size: 18px;">/Payment Attribution </span></h1>
        <h6 class="text-gray-600" style="margin-left: 500px;">Time: <span id="time"></span></h6>
    </div>
    {% endblock %}

    {% block body %}
    <div class="row">
        <div class="col-4">
            <a href="/cashier/sales" class="btn btn-primary btn-md active" role="button" aria-pressed="true"><i
                    class="fa fa-arrow-left"></i>&ensp;Back</a>
        </div>
    </div>
    <br>
    <table id="damagedEditable" class="table table-striped table-hover paginate"
        style="display:block;overflow-y:scroll;text-align: center;">
        <thead class="thead-dark">
            <tr>
                <th scope="col" width="5%">#</th>
                <th scope="col" width="15%">Customer Name</th>
                <th scope="col" width="12%">Date</th>
                <th scope="col" width="7%">Order Type</th>
                <th scope="col" width="7%">Order Status</th>
                <th scope="col" width="12%">Total Cost (Ksh.)</th>
                <th scope="col" width="14%">Amount Paid (Ksh.)</th>
                <th scope="col" width="10%">Balance (Ksh.)</th>
                <th scope="col" width="13%"></th>
                <th scope="col" width="13%"></th>
            </tr>
        </thead>
        <tbody>
            {% for order in unverified_orders %}
            <tr>
                <th scope="row" class="uneditable" id="idToday{{ order.id }}">
                    {{ order.id }}
                </th>
                <td style="background-color: #2ECC71 ;color: white" class="uneditable"
                    id="nameToday{{ order.id }}">
                    {{ order.first_name+' '+order.last_name }}
                </td>
                <td class="uneditable" id="balanceToday{{ order.id }}">
                    {{ order.order_date }}
                </td>
                <td class="uneditable" id="balanceToday{{ order.id }}">
                    {{ order.order_type }}
                </td>
                <td class="uneditable" id="balanceToday{{ order.id }}">
                    {{ order.order_status }}
                </td>
                <td class="uneditable" id="costToday{{ order.id }}">
                    {{ order.order_cost }}
                </td>
                <td class="uneditable" id="costToday{{ order.id }}">
                    {{ order.amount_paid }}
                </td>
                <td class="uneditable" id="balanceToday{{ order.id }}">
                    {{ order.payment_balance }}
                </td>
                <td>
                    <a href="/cashier/order-details?order_id={{ order.id }}" class="btn btn-warning btn-sm active" role="button"
                        aria-pressed="true"><i class="fa fa-eye"></i> View Details</a>
                </td>
                <td>
                    <!--<a href="#" class="btn btn-success btn-sm active forceAttribution" role="button" id="{{ order.id }}"
                        aria-pressed="true"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Force Attribution</a>-->
                    <button data-toggle="modal" data-target="#forceAttributeionModal{{ order.id }}"
                        id="{{ order.id }}" data_id="{{ order.id }}" class="btn btn-success btn-sm active forceAttribution"
                        role="button" aria-pressed="true"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Force Attribution</button>
                    <!-- Modal -->
                    <div class="modal fade" id="forceAttributeionModal{{ order.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle">Mpesa Payment Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST">
                                        {{ force_attribute_form.hidden_tag() }}
                                        <div class="row">
                                            {{ force_attribute_form.transaction_code(id="transaction_code" + order.id|string) }}
                                        </div><br>
                                        <div class="row">
                                            {{ force_attribute_form.msisdn(id="msisdn" + order.id|string) }}
                                        </div><br>
                                        <div class="row">
                                            {{ force_attribute_form.amount(id="amount" + order.id|string) }}
                                        </div><br>
                                        <div class="row">
                                            {{ force_attribute_form.name(id="name" + order.id|string) }}
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    {{ force_attribute_form.submit(id=order.id) }}
                                    </form> 
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='js/sales.js') }}"></script>
    <!-- Scroll to Top Button-->
    {% endblock %}