{% if current_user.has_role('SuperUser') %}
{% extends 'superuser/superuser_templates/base_superuser_template.html' %}
{% else %}
{% extends 'admin/admin_templates/base_admin_template.html' %}
{% endif %}

{% block body %}
<!-- Begin Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h4 style="margin-top: -10px">Registered Staff/ <span style="font-size: 80%;">Staff Event Details</span></h4>
            </div>
            <div class="col-2">
                <div class="ml-4">
                    <h5 style="color:#9A9A9A;">Time: <span id="time"></span></h5>
                </div>
            </div>
        </div>
        <br>
        <div class="col-12">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <a class="btn btn-link btn-simple active" href="/admin/registered-staff"
                        style="text-decoration: none;">
                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&ensp;Back
                    </a>
                    <div class="card card-plain table-plain-bg">
                        <div class="card-header ">
                            <div class="row">
                                <div class="col-9">
                                    <h4 class="card-title">Samuel Mariwa (ICT)</h4>
                                    <p class="card-category">s.mariwa@cifor-icraf.org</p>
                                </div>
                                <div class="col-3">
                                    <h4 class="card-title">2 Events</h4>
                                    <h5 class="card-title ">6 Sessions</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        {% for key, values in sessions.items() %}
                        <div class="header text-center">
                            <h4 class="title">{{ key }}</h4>
                            <p class="category">{{ values.start_date.strftime("%B %d, %Y") }} - {{ values.end_date.strftime("%B %d, %Y") }}</p>
                            <p class="category">Session Count: {{ values.sessions_count }}</p>
                            <br>
                        </div>
                        <div class="content table-responsive table-upgrade">
                            <table class="table">
                                <thead>
                                    <th class="text-center">Sessions Attended</th>
                                </thead>
                                <tbody>
                                    {% for session in values.sessions %}
                                    <tr>
                                        <td>{{ session }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}