{% if current_user.has_role('SuperUser') %}
{% extends 'superuser/superuser_templates/base_superuser_template.html' %}
{% else %}
{% extends 'admin/admin_templates/base_admin_template.html' %}
{% endif %}

{% block head %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard <span style="font-size: 18px;">/Suppliers</span></h1>
        <h6 class="h6 mb-0 text-gray-600 mr-3">Time: <span id="time"></span></h6>
    </div>
    {% endblock %}

    {% block body %}
    <div class="row">
        <div class="col-md-4">
            <a data-toggle="modal" data-target="#exampleModalScrollable" class="btn btn-success btn-md active"
                role="button" aria-pressed="true"><i class="fa fa-plus-circle"></i>&ensp;New Supplier</a>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalScrollableTitle">New Supplier</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="POST" id="form_add_supplier">
                        <div class="modal-body">
                            {{ add_supplier_form.hidden_tag() }}
                                <div class="row">
                                    {{ add_supplier_form.name }}
                                </div><br>
                                <div class="row">
                                    {{ add_supplier_form.contact }}
                                </div>
                        </div>
                        <div class="modal-footer">
                            {{ add_supplier_form.submit }}
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h6 class="offset-2">Total Number: {{ suppliers_count }}</h6>
        </div>
    </div><br>
    <table id="suppliersEditable" class="table table-striped table-hover paginate"
        style="display:block;overflow-y:scroll;text-align: center;">
        <thead class="thead-dark">
            <tr>
                <th scope="col" width="12%">#</th>
                <th scope="col" width="30%">Supplier Name</th>
                <th scope="col" width="30%">Supplier Contact</th>
                <th scope="col" width="20%">Status</th>
                <th scope="col" width="30%"></th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
            <!--Start of suppliers loop-->
            <tr>
                <th scope="row" class="uneditable" id="id{{ loop.index }}">{{ supplier.id }}</th>
                <td class="uneditable" id="supplier{{ loop.index }}">{{ supplier.supplier_name }}</td>
                <td class="editable" id="contact{{ loop.index }}">{{ supplier.supplier_contact }}</td>
                <td class="uneditable" id="status{{ loop.index }}">
                    <div class="form-check form-switch ml-3">
                        {% if supplier.supplier_status == 'active' %}
                        <input class="form-check-input supplier_status_checkbox" type="checkbox" id="flexSwitchCheckDefault" value="{{ supplier.id }}" checked>
                        {% else %}
                        <input class="form-check-input supplier_status_checkbox" type="checkbox" id="flexSwitchCheckDefault" value="{{ supplier.id }}">
                        {% endif %}
                      </div>
                </td>
                <td>
                    <button id="{{ supplier.id }}" data_id="{{ supplier.id }}"
                        class="btn btn-danger btn-sm active deleteSupplier" role="button" aria-pressed="true"><i
                            class="fa fa-trash"></i>&ensp;Delete</button>
                </td>
            </tr>
            <!--End of loop-->
            {% endfor %}
        </tbody>
    </table>
    <!-- Scroll to Top Button-->
    {% endblock %}