{% extends 'public/public_templates/base_public_template.html' %}

{% block body %}
<!-- page-header-section start -->
<div class="page-header-section">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between justify-content-md-end">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><span>/</span></li>
                    <li>Blog</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- page-header-section end -->
<!-- blog section start -->
<section class="blog-section section-ptb">
    <div class="container pagination_data">
        <div class="row align-items-center">

            <div class="col-md-6 col-lg-4 mb--30">
                <div class="post-item">
                    <div class="post-thumb">
                        <a href="/blog-single?id=<?php echo $id; ?>"><img src="static/img/blog/<?php echo $image; ?>"
                                alt="thumb"></a>
                    </div>
                    <div class="post-content border-effect">
                        <ul class="meta-post list-unstyled pl-0 d-flex justify-content-between">
                            <li>
                                <span class="icon"><i class="far fa-clock"></i></span>
                                <span class="meta-content">24th September, 2022</span>
                            </li>
                            <li>
                                <span class="icon"><i class="far fa-comment-alt"></i></span>
                                <a href="/blog-single?id=<?php echo $id; ?>#comments-section" class="meta-link">2
                                    Comments</a>
                            </li>
                        </ul>
                        <h4 class="title mb-3">Blog Title</h4>
                        <h5 class="title mb-3"><a href="/blog-single?id=<?php echo $id; ?>">This blog is about the
                                food industry...</a></h5>
                        <a href="/blog-single?id=<?php echo $id; ?>" class="blog-btn">Read More</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 pt--30">
            <ul class="pagination justify-content-center justify-content-lg-start">
                <li><a class="d-flex pagination_link" href="#" style="pointer-events: none;"></a></li>
                <!--start of page count loop-->
                <li class="d-none d-md-block"><a class="pagination_link active" href="#" id="1">2</a></li>

                <li><a class="d-flex pagination_link" href="#" id="<?php echo $page + 1; ?>"> <span
                            class="text">Next</span><i class="icon fas fa-angle-right"></i></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- blog section end -->
{% endblock %}