{% extends 'public/public_templates/base_public_template.html' %}

{% block body %}
<!-- page-header-section start -->
<div class="page-header-section">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between justify-content-md-end">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><span>/</span></li>
                    <li>FAQ Page</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- page-header-section end -->

<!-- faq section start -->
<section class="faq-section section-ptb">
    <div class="container">
        <div class="faq-container">
            <div class="accordion" id="faqaccordion">

                <div class="faq">
                    <div class="faq-header" id="faq1">
                        <button class="btn btn-link" type="button" data-toggle="collapse"
                            data-target="#collapse1" aria-expanded="false"
                            aria-controls="collapse1">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                                <i class="fas fa-minus"></i>
                            </span>
                            Question
                        </button>
                    </div>

                    <div id="collapse1" class="collapse show" aria-labelledby="faq1"
                        data-parent="#faqaccordion">
                        <div class="faq-body">
                            <p>
                                Answer
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- faq section end -->
{% endblock %}