{% extends 'public/public_templates/base_public_template.html' %}

{% block body %}
 <!-- page-header-section start -->
 <div class="page-header-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between justify-content-md-start">
                            <ul class="breadcrumb">
                                <li><a href="/">Home</a></li>
                                <li><span>/</span></li>
                                <li>Order Details (#234fhf93)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page-header-section end -->

            <!-- admin-page start -->
            <section class="admin-page-section d-flex align-items-center" style="background-image: url('static/img/admin/profile-bg.jpg'); background-size: cover;">
                <div class="aps-wrapper w-100">
                    <div class="container">
                        <div class="row justify-content-center justify-content-md-start">
                            <div class="admin-content-area">
                                <div class="admin-thumb">
                                    <img src="static/img/admin/thumbnail-avatar.png" alt="">
                                    <a href="#" class="image-change-option"><i class="fas fa-camera"></i></a>
                                </div>
                                <div class="admin-content">
                                    <h4 class="name">Samuel Mariwa</h4>
                                    <p class="desc">samuelmariwa@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- admin-page end -->



            <!-- dashboard-section start -->
            <section class="dashboard-section">
                <div class="container">
                    <div class="track-order-item bg-color-white">
                        <div class="d-flex justify-content-between track-number-link align-items-center">
                            <div>
                                <h6 class="order-number">Order#23yf8329</h6>
                                <p class="date">23rd September, 2022</p>
                                <p class="price">Ksh. 400.00</p>
                            </div>
                            <div>
                                <a href="/track-order-single?id=2" class="order-btn">Track Order</a>
                            </div>
                        </div>
                        <div class="order-details">
                            <div class="order-details-head">
                                <h6>Order Details</h6>
                            </div>
                            
                            <div class="order-details-container">

                                <div class="order-details-item d-flex flex-wrap align-items-center justify-content-between">
                                    <div class="thumb d-flex flex-wrap align-items-center">
                                        <a><img src="static/img/products/imge" height="110" width="130" alt="products"></a>
                                        <div class="product-content">
                                            <a class="product-title">Product name</a>
                                        </div>
                                    </div>
                                    
                                    <div class="product-content pl-0">
                                        <div class="product-cart-info">
                                          2 unit name
                                        </div>
                                    </div>
                                    <div class="product-content pl-0">
                                        <div class="product-price">
                                            <del>Ksh. 500.00</del><span class="ml-4">Ksh. 400.00</span>
                                        </div>
                                    </div>
                                </div>
                                <?php
                        
                            </div>

                        </div>
                        <div class="track-order-info">
                            <ul class="to-list">
                                <li class="d-flex flex-wrap justify-content-between">
                                    <span class="t-title">Sub Total</span>
                                    <span class="desc">Ksh. 400.00</span>
                                </li>
                                <li class="d-flex flex-wrap justify-content-between">
                                    <span class="t-title">Delivery Fee</span>
                                    <span class="desc">Ksh. 80.00</span>
                                </li>
                                <li class="d-flex flex-wrap justify-content-between">
                                    <span class="t-title">Discount</span>
                                    <span class="desc">Ksh. 50.00</span>
                                </li>
                                <li class="inc-vat d-flex flex-wrap justify-content-between">
                                    <span class="t-title">Total(inc) VAT</span>
                                    <span class="desc">Ksh. 430.00</span>
                                </li>
                            </ul>
                        </div>
                        <div class="delevary-time">
                            <p>Delivery Date - 23rd September, 2022</p>
                        </div>
                        <div class="track-order-footer">
                            <p>Helpline - <a href="tel:07472534734">Call Us</a></p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- dashboard-section end -->
{% endblock %}