{% extends 'public/public_templates/base_public_template.html' %}

{% block body %}
<!-- page-header-section start -->
<div class="page-header-section">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between justify-content-md-end">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><span>/</span></li>
                    <li>Order Success</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- page-header-section end -->

<!-- Product order success section start -->
<section class="product-order-success-section section-ptb">
    <div class="container">
        <div class="product-order-success-container">
            <div class="product-order-success">
                <div class="iconimage">
                    <img src="static/img/checkicon.png" alt="icon">
                </div>
                <h2>Your order has been received.</h2>
                <p>Thank you for shopping with Sympha Fresh</p>
                <a href="order-details.php?id=<?php echo $value['status_id']?>" class="order-btn">View Order Details</a>
            </div>
            <div class="order-description">
                <ul class="order-info">
                    <li>
                        <h6>Your Order Number</h6>
                        <span>:</span>
                        <p>Order#23u44</p>
                    </li>
                    <li>
                        <h6>Your Order Date </h6>
                        <span>:</span>
                        <p>28th September, 2022</p>
                    </li>
                    <li>
                        <h6>Total</h6>
                        <span>:</span>
                        <p>Ksh. 2,400</p>
                    </li>
                </ul>
                <!--<a href="#" class="view-summery">View a summary of your order</a>-->
            </div>
        </div>
    </div>
</section>
<!-- Product order success section end -->
{% endblock %}