{% extends 'public/public_templates/base_public_template.html' %}

{% block body %}
<!-- page-header-section start -->
<div class="page-header-section">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between justify-content-md-end">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><span>/</span></li>
                    <li>Product List</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- page-header-section end -->
<div id="actionAlert">
    <?php echo $message; ?>
</div>
<!-- page-content -->
<section class="page-content section-ptb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 sidebar order-lg-first">
                <div class="widget widget-head">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6>Filter</h6>
                        <a href="/products" id="clear_filter">Clear All</a>
                    </div>
                </div>
                <div class="widget">
                    <h4 class="widget-title d-none d-lg-block">Filter by name</h4>
                    <a class="widget-title d-lg-none" data-toggle="collapse" href="#scatagory-widget01" role="button"
                        aria-expanded="false" aria-controls="scatagory-widget01">Categories<i
                            class="fas fa-angle-down"></i></a>

                    <div class="widget-wrapper" id="scatagory-widget01">
                        <ul class="catagory-menu collapse show" id="catagory-main">

                            <li><a class="collapsed" data-toggle="collapse" href="#catagory-widget-s1" role="button"
                                    aria-expanded="false" aria-controls="catagory-widget-s1">
                                    Category Name <span class="plus-minus"></span>
                                </a>
                                <ul class="catagory-submenu collapse" id="catagory-widget-s1">

                                    <li class="checkbox-item">
                                        <input type="checkbox" class="category_selector" id="1" value="Product name">
                                        <span class="checkbox" value="product_name"></span>
                                        <span class="label">
                                            Product Name
                                        </span>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="widget">
                    <h4 class="widget-title d-none d-lg-block">Filter by price</h4>
                    <a class="widget-title d-lg-none" data-toggle="collapse" href="#scatagory-widget02" role="button"
                        aria-expanded="false" aria-controls="scatagory-widget02">Filter by Price<i
                            class="fas fa-angle-down"></i></a>

                    <div class="widget-wrapper" id="scatagory-widget02">
                        <div class="range-slider">
                            <input type="text" class="js-range-slider" value="" />
                            <input type="hidden" id="hidden_minimum_price" value="0" />
                            <input type="hidden" id="hidden_maximum_price" value="2000" />
                            <input type="hidden" class="organization_name" value="<?php echo $organization; ?>">
                        </div>
                    </div>
                </div>

                <!--<div class="widget">
                                <h4 class="widget-title d-none d-lg-block">Filter by Brand Name</h4>
                                <a class="widget-title d-lg-none" data-toggle="collapse" href="#scatagory-widget03" role="button" aria-expanded="false" aria-controls="scatagory-widget03">Filte by Brand Name<i class="fas fa-angle-down"></i></a>

                                <div class="widget-wrapper" id="scatagory-widget03">
                                
                                <div class="flux-custom-select">
                                        <select>
                                            <option value="0">Select Brand</option>
                                            <option value="1">Nesle</option>
                                            <option value="2">Dano</option>
                                            <option value="3">Fresh</option>
                                            <option value="3">Uniliver</option>
                                            <option value="3">Pepsi</option>
                                        </select>
                                    </div>
                                </div>
                            </div> -->
            </div>
            <div class="col-lg-9 order-lg-last">
                <div class="row product-list">
                    <!-- first get cookies to sort wishlist -->
                    {% if request.cookies.get('wishlist') == None %}
                    {% set wishlist_items = {} %}
                    {% else %}
                    {% set wishlist_items = json.loads(request.cookies.get('wishlist')) %}
                    {% endif %}

                    {% for product in products %}
                    <!-- set variable for displaying wishlist heart color -->
                    {% set color = [] %}
                    <!-- we use [] for globals and temp to append there -->
                    <!-- default -->
                    {% for item in wishlist_items %}

                    {% if product.id == item | int %}

                    {% set temp = color.append('red') %}

                    {% endif %}

                    {% else %}
                    {% set temp = color.append('white') %}
                    {% endfor %}




                    <div class="col-sm-6 col-xl-4" id="{{product.product_name}}">
                        {% if details_by_id[product.id]['total_qty_available'] < product.restock_level %} <div
                            class="product-item stock-out ">
                            {% else %}
                            <div class="product-item">
                                {% endif %}
                                <div class="product-thumb">
                                    <!--you can add this onclick to anchor tag below when necessary-->
                                    <!--onclick="openModal()"-->
                                    <a class="modalOpen" id="{{ product.id }}" onclick="openModal()"><img
                                            src="static/img/products/{{ product.image }}" alt="product"></a>
                                    <span class="batch sale">Sale</span>
                                    <a class="wish-link" href="#" id="{{ product.id }}">
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart"
                                            class="svg-inline--fa fa-heart fa-w-16" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 512 512">
                                            {% if color[0] == 'red' %}
                                            <path id="wishlist-heart{{ product.id }}" style="fill: red;" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3
                                            104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9
                                            32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
                                            </path>
                                            {% else %}
                                            <path id="wishlist-heart{{ product.id }}" style="fill: white;" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3
                                            104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9
                                            32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
                                            </path>
                                            {% endif %}


                                        </svg>

                                    </a>
                                </div>
                                <div class="product-content">
                                    <a href="#" class="cata" id="itemCategory2">
                                        {{ product.product_category.category_name }}
                                    </a>
                                    <h6><a href="/products" class="product-title">
                                            {{product.product_name}}
                                        </a></h6>
                                    <p class="quantity">
                                        1 {{ product.product_unit.unit_name }} /
                                        1000 {{ product.product_sub_unit.unit_name }}
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="price">
                                            {% if details_by_id[product.id]['discount'] > 0 %}
                                            Ksh. {{
                                            details_by_id[product.id]['price'] -
                                            details_by_id[product.id]['discount']
                                            }}
                                            <del>Ksh. {{ details_by_id[product.id]['price'] }}</del>
                                            {% else %}
                                            Ksh. {{ details_by_id[product.id]['price'] }}
                                            {% endif %}
                                        </div>
                                        {% if product.id | string in cart_items %}
                                        <div class="cart-btn-toggle">
                                            <!-- Check for products already in cart -->

                                            <div class="price-button">
                                                <!-- reduce fields here -->
                                                <input type="hidden" name="hidden_id" id="hidden_id{{ product.id }}"
                                                    value="{{ product.id }}">
                                                <input type="hidden" name="hidden_name" id="hidden_name{{ product.id }}"
                                                    value="{{ product.id }}">
                                                <input type="hidden" name="hidden_unit" id="hidden_unit{{ product.id }}"
                                                    value="{{ product.product_unit.unit_name }}">
                                                <input type="hidden" name="hidden_discount"
                                                    id="hidden_discount{{ product.id }}"
                                                    value="{{ details_by_id[product.id]['discount'] }}">
                                                <input type="hidden" name="hidden_price"
                                                    id="hidden_price{{ product.id }}"
                                                    value="{{ details_by_id[product.id]['price'] - details_by_id[product.id]['discount'] }}">
                                                <input type="hidden" name="hidden_image"
                                                    id="hidden_image{{ product.id }}" value="{{ product.image }}">

                                                <div class="price-increase-decrese-group d-flex"
                                                    id="inc_dec{{ product.id }}">
                                                    <span class="decrease-btn">
                                                        <button type="button"
                                                            class="btn quantity-left-minus productlist_decrease"
                                                            data-type="minus" id="{{ product.id }}" data-field="">-
                                                        </button>
                                                    </span>
                                                    <input type="text" name="quantity"
                                                        id="productlist_qty{{ product.id }}" disabled
                                                        class="form-controls input-number"
                                                        value="{{ cart_items[product.id | string]['quantity'] }}">
                                                    <span class="increase">
                                                        <button type="button"
                                                            class="btn quantity-right-plus productlist_increase"
                                                            data-type="plus" id="{{ product.id }}" data-field="">+
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>

                                            <!-- for items already in cart, this is placed here for the sake of delete button on the cart -->
                                            <!-- the button below is set to d-none so that it's reactivated when js changes this section -->
                                            <div class="" id="add_to_cart{{ product.id }}">
                                                {% if current_user.is_authenticated %}
                                                <input type="hidden" name="hidden_usr" id="hidden_usr{{ product.id }}"
                                                    value="{{ current_user.customer_id }}">
                                                {% else %}
                                                <!-- Assume that we never have a user with id 0 -->
                                                <!-- therefore when they log in it changes -->
                                                <input type="hidden" name="hidden_usr" id="hidden_usr{{ product.id }}"
                                                    value="0">
                                                {% endif %}
                                                <!-- update quantity when modal is used -->
                                                <input type="hidden" name="hidden_qty" id="hidden_qty{{ product.id }}"
                                                    value="1">
                                                <button type="submit" class="cart-btn d-none" name="cart_button"
                                                    id="{{ product.id }}">
                                                    <span><i class="fas fa-shopping-cart"></i> Cart</span>
                                                </button>
                                            </div>
                                            {% else %}
                                            <!-- this product is not in the cart -->
                                            <!-- I still have to place this section, but hidden because of js add_to_cart -->
                                            <div class="price-button">
                                                <!-- reduce fields here -->
                                                <input type="hidden" name="hidden_id" id="hidden_id{{ product.id }}"
                                                    value="{{ product.id }}">
                                                <input type="hidden" name="hidden_name" id="hidden_name{{ product.id }}"
                                                    value="{{ product.id }}">
                                                <input type="hidden" name="hidden_unit" id="hidden_unit{{ product.id }}"
                                                    value="{{ product.product_unit.unit_name }}">
                                                <input type="hidden" name="hidden_discount"
                                                    id="hidden_discount{{ product.id }}"
                                                    value="{{ details_by_id[product.id]['discount'] }}">
                                                <input type="hidden" name="hidden_price"
                                                    id="hidden_price{{ product.id }}"
                                                    value="{{ details_by_id[product.id]['price'] - details_by_id[product.id]['discount'] }}">
                                                <input type="hidden" name="hidden_image"
                                                    id="hidden_image{{ product.id }}" value="{{ product.image }}">

                                                <div class="price-increase-decrese-group d-none"
                                                    id="inc_dec{{ product.id }}">
                                                    <span class="decrease-btn">
                                                        <button type="button"
                                                            class="btn quantity-left-minus productlist_decrease"
                                                            data-type="minus" id="0" data-field="">-
                                                        </button>
                                                    </span>
                                                    <input type="text" name="quantity"
                                                        id="productlist_qty{# Add this later #}" disabled
                                                        class="form-controls input-number" value="1">
                                                    <span class="increase">
                                                        <button type="button"
                                                            class="btn quantity-right-plus productlist_increase"
                                                            data-type="plus" id="0" data-field="">+
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- this is the compulsory part which is active and the button below changes class -->
                                            <div class="" id="add_to_cart{{ product.id }}">
                                                {% if current_user.is_authenticated %}
                                                <input type="hidden" name="hidden_usr" id="hidden_usr{{ product.id }}"
                                                    value="{{ current_user.customer_id }}">
                                                {% else %}
                                                <!-- Assume that we never have a user with id 0 -->
                                                <!-- therefore when they log in it changes -->
                                                <input type="hidden" name="hidden_usr" id="hidden_usr{{ product.id }}"
                                                    value="0">
                                                {% endif %}
                                                <!-- update quantity when modal is used -->
                                                <input type="hidden" name="hidden_qty" id="hidden_qty{{ product.id }}"
                                                    value="1">
                                                <button type="submit" class="cart-btn" name="cart_button"
                                                    id="{{ product.id }}">
                                                    <span><i class="fas fa-shopping-cart"></i> Cart</span>
                                                </button>
                                            </div>
                                            {% endif %}



                                        </div>

                                    </div>
                                </div>
                            </div>
                    </div>
                    {% endfor %}
                    <!--<div class="col-12 text-center mt-4">
                                    <button class="loadMore">Load More</button>
                                </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page-content -->
{% endblock %}