{% extends 'public/public_templates/base_public_template.html' %}

{% block body %}

<body>
   {% if random_number == 1 %}
   <section class="ftco-section img bg-hero" style="background-image: url(../static/img/landscape1.jpg);">
      {% elif random_number == 2 %}
      <section class="ftco-section img bg-hero" style="background-image: url(../static/img/landscape2.jpg);">
         {% elif random_number == 3 %}
         <section class="ftco-section img bg-hero" style="background-image: url(../static/img/landscape3.jpg);">
            {% elif random_number == 4 %}
            <section class="ftco-section img bg-hero" style="background-image: url(../static/img/landscape4.jpg);">
               {% elif random_number == 5 %}
               <section class="ftco-section img bg-hero" style="background-image: url(../static/img/landscape5.jpg);">
                  {% elif random_number == 6 %}
                  <section class="ftco-section img bg-hero"
                     style="background-image: url(../static/img/landscape6.jpg);">
                     {% elif random_number == 7 %}
                     <section class="ftco-section img bg-hero"
                        style="background-image: url(../static/img/landscape7.jpg);">
                        {% elif random_number == 8 %}
                        <section class="ftco-section img bg-hero"
                           style="background-image: url(../static/img/landscape8.jpg);">
                           {% elif random_number == 9 %}
                           <section class="ftco-section img bg-hero"
                              style="background-image: url(../static/img/landscape9.jpg);">
                              {% else %}
                              <section class="ftco-section img bg-hero"
                                 style="background-image: url(../static/img/landscape10.jpg);">
                                 {% endif %}
                                 <div class="container">
                                    <div class="row justify-content-center">
                                       <div class="col-md-6 text-center mb-5 reg-success-title">
                                          <img src="{{ url_for('static', filename='img/cifor-icraf-logo.png') }}"
                                             width="230px" height="100px">
                                          <br><br>
                                          <h2 class="heading-section">CIFOR-ICRAF EVENTS</h2>
                                          <br><br>
                                          <h3 class="mb-2 reg-success-text">{{ session_details.event }}</h3>
                                          <h5 class="mb-2 reg-success-text"><i class="fa fa-check-circle-o" aria-hidden="true"></i>&ensp;You have successfully registered for the session: {{ session_details.session }}</h5>
                                       </div>
                                    </div>
                                 </div>
                              </section>
                              {% endblock %}