{% extends 'public/public_templates/base_public_template.html' %}

{% block body %}
            <!-- page-header-section start -->
            <div class="page-header-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between justify-content-md-end">
                            <ul class="breadcrumb">
                                <li><a href="/">Home</a></li>
                                <li><span>/</span></li>
                                <li>Site Map</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page-header-section end -->



            <!-- about section start -->
            <section class="about-section section-ptb">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 order-lg-last pr-xl-5">
                            <div class="about-content mb-4 mb-lg-0 pr-lg-5">
                                <h3>About Us</h3>
                                <ul>
                                    <li><a href="/about#who_we_are">Who We Are</a></li>
                                    <li><a href="/about#mission&vision">Mission & Vision</a></li>
                                    <li><a href="/faq">FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="row align-items-center">
                        <div class="col-lg-12 order-lg-last pr-xl-5">
                            <div class="about-content mb-4 mb-lg-0 pr-lg-5">
                                <h3>Our Products</h3>
                                <div class="row">
                                    <div class="col-3">
                                        <h5><?php echo $row['Category_Name']; ?></h5>
                                        <ul>
                                            <li><a href="/products#<?php echo $row2['Name']; ?>">Product Name</a></li>
                                            <li><a href="/products#<?php echo $row2['Name']; ?>">Product Name</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="row align-items-center">
                        <div class="col-lg-12 order-lg-last pr-xl-5">
                            <div class="about-content mb-4 mb-lg-0 pr-lg-5">
                                <h3>Contact Us</h3>
                                <ul>
                                    <li><a href="/contact">Contact Us</a></li>
                                    <li><a href="#">Facebook</a></li>
                                    <li><a href="#">Twitter</a></li>
                                    <li><a href="#">Instagram</a></li>
                                    <li><a href="#">YouTube</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="row align-items-center">
                        <div class="col-lg-12 order-lg-last pr-xl-5">
                            <div class="about-content mb-4 mb-lg-0 pr-lg-5">
                                <h3>Learn More</h3>
                                <ul>
                                    <li><a href="/blog">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </section>
{% endblock %}