{% extends 'mail/mail_templates/base_mail_template.html' %}

{% block body %}
                <div class="subtitle" style="margin-top:40px">Hi {{ firstname }},</div>
                <div class="subtitle" style="margin-top:40px">
                You have successfully registered for the {{ event }} session: <i>{{ session }}.</i>     
                </div>
                <div class="subtitle" style="margin-top:40px">
                    <span class="note">Please note:</span> If you did not initiate this email, you can ignore it. If you need more help or believe that this email was sent in error, feel free to <a href="mailto:{{organization['email']}}" style='color: #57b846;text-decoration: none;'>contact us</a>
                </div>
                <div class="subtitle" style="margin-top:40px">
                     Thanks! - The ICT team
                </div>
            </div>
        </div>
    </div>
    {% endblock %}